.title, .p-body {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.title { 
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

.p-body {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.2rem;
  max-width: 500px;
}
