.extracurriculars-container {
  margin-bottom: 100px;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0,0,0,0);
  border: 2px solid rgba(255, 255, 255, 0);
  transition-property: border-color, background;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.extracurriculars-container:hover {
  border-color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .extracurriculars-container {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    transition-property: backdrop-filter, -webkit-backdrop-filter, border-color, background;
    transition-duration: 0.5s, 0.5s, 0.5s, 0.5s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  }

  .extracurriculars-container:hover {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.2);
  }
}
