.nav-link {
  width: 20rem;
  text-decoration: none;
  color: #95979b;
  display: flex;
  align-items: center;
}

.nav-indicator {
  background-color: var(--text-color);
  width: 50px;
  height: 2px;
  transition-property: color, width;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.nav-text {
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover .nav-indicator {
  background-color: white;
  width: 100px;
}
