.skill-container {
  background-color: var(--text-color);
  width: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 15px;
  column-gap: 10px;
}

i {
  font-size: 2em;
}

.skill-text {
  margin: 0;
}

.skill-container:hover {
  background-color: white;
  cursor: default;
}
