.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}
